{{ define "category_manage" }}
{{ template "header" . }}

<body class="bg-gray-100">
    <div class="max-w-[1000px] mx-auto">
        <div class="flex justify-between items-center p-6">
            <div class="flex items-center gap-4">
                <a href="/admin" class="text-gray-500 hover:text-gray-900 transition-colors">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                    </svg>
                </a>
                <h1 class="text-3xl font-bold">Manage Categories</h1>
            </div>
        </div>

        <div>
            {{ template "create_category" . }}
            {{ template "manage_categories" . }}
        </div>
    </div>
</body>

{{ end }}
