{{ define "admin" }}
{{ template "header" . }}

<body class="bg-gray-100 dark:bg-zinc-900 dark:text-gray-100">
    <div class="max-w-[1000px] mx-auto">
        <div class="flex justify-between items-center p-6">
            <h1 class="text-3xl font-bold">{{ .I18n.Dashboard.Title }}</h1>

            <button
                id="theme-toggle"
                class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow"
                onclick="toggleTheme()"
            >
                {{ .I18n.Common.SwitchTheme }}
            </button>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 container mx-auto">
            <!-- Manage Posts -->
            <a
                href="/admin/posts"
                class="block p-6 bg-white dark:bg-zinc-700 rounded-lg border border-gray-200 dark:border-zinc-600 shadow-md hover:bg-gray-100 dark:hover:bg-zinc-600 transition-colors"
            >
                <h5
                    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-100"
                >
                    {{ .I18n.Dashboard.ManagePostsTitle }}
                </h5>
                <p class="font-normal text-gray-700 dark:text-gray-300">
                    {{ .I18n.Dashboard.ManagePostsDesc }}
                </p>
            </a>

            <!-- Manage Pages -->
            <a
                href="/admin/pages"
                class="block p-6 bg-white dark:bg-zinc-700 rounded-lg border border-gray-200 dark:border-zinc-600 shadow-md hover:bg-gray-100 dark:hover:bg-zinc-600 transition-colors"
            >
                <h5
                    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-100"
                >
                    {{ .I18n.Dashboard.ManagePagesTitle }}
                </h5>
                <p class="font-normal text-gray-700 dark:text-gray-300">
                    {{ .I18n.Dashboard.ManagePagesDesc }}
                </p>
            </a>

            <!-- Manage Categories -->
            <a
                href="/admin/categories"
                class="block p-6 bg-white dark:bg-zinc-700 rounded-lg border border-gray-200 dark:border-zinc-600 shadow-md hover:bg-gray-100 dark:hover:bg-zinc-600 transition-colors"
            >
                <h5
                    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-100"
                >
                    {{ .I18n.Dashboard.ManageCategoriesTitle }}
                </h5>
                <p class="font-normal text-gray-700 dark:text-gray-300">
                    {{ .I18n.Dashboard.ManageCategoriesDesc }}
                </p>
            </a>

            <!-- Manage Settings -->
            <a
                href="/admin/settings"
                class="block p-6 bg-white dark:bg-zinc-700 rounded-lg border border-gray-200 dark:border-zinc-600 shadow-md hover:bg-gray-100 dark:hover:bg-zinc-600 transition-colors"
            >
                <h5
                    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-100"
                >
                    {{ .I18n.Dashboard.ManageSettingsTitle }}
                </h5>
                <p class="font-normal text-gray-700 dark:text-gray-300">
                    {{ .I18n.Dashboard.ManageSettingsDesc }}
                </p>
            </a>

            <!-- Manage Redirects -->
            <a
                href="/admin/redirects"
                class="block p-6 bg-white dark:bg-zinc-700 rounded-lg border border-gray-200 dark:border-zinc-600 shadow-md hover:bg-gray-100 dark:hover:bg-zinc-600 transition-colors"
            >
                <h5
                    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-100"
                >
                    {{ .I18n.Dashboard.ManageRedirectsTitle }}
                </h5>
                <p class="font-normal text-gray-700 dark:text-gray-300">
                    {{ .I18n.Dashboard.ManageRedirectsDesc }}
                </p>
            </a>

            <!-- Manage Comments -->
            <a
                href="/admin/comments"
                class="block p-6 bg-white dark:bg-zinc-700 rounded-lg border border-gray-200 dark:border-zinc-600 shadow-md hover:bg-gray-100 dark:hover:bg-zinc-600 transition-colors"
            >
                <h5
                    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-100"
                >
                    {{ .I18n.Dashboard.ManageCommentsTitle }}
                </h5>
                <p class="font-normal text-gray-700 dark:text-gray-300">
                    {{ .I18n.Dashboard.ManageCommentsDesc }}
                </p>
            </a>

            <!-- Visit Statistics -->
            <a
                href="/admin/statistics"
                class="block p-6 bg-white dark:bg-zinc-700 rounded-lg border border-gray-200 dark:border-zinc-600 shadow-md hover:bg-gray-100 dark:hover:bg-zinc-600 transition-colors"
            >
                <h5
                    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-100"
                >
                    {{ .I18n.Dashboard.VisitStatisticsTitle }}
                </h5>
                <p class="font-normal text-gray-700 dark:text-gray-300">
                    {{ .I18n.Dashboard.VisitStatisticsDesc }}
                </p>
            </a>
        </div>
    </div>
</body>

<script>
    function toggleTheme() {
        const isDark = document.documentElement.classList.toggle("dark");
        localStorage.setItem("theme", isDark ? "dark" : "light");
    }
</script>
{{ end }}
